<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBV4_hVt1tLRdxOAR-eeThk42pkr3xDifw</string>
	<key>BUNDLE_ID</key>
	<string>com.ucsb.melo</string>
	<key>GCM_SENDER_ID</key>
	<string>948219294613</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:948219294613:ios:717c8878832a04453cfc9c</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>PROJECT_ID</key>
	<string>melo-c42ea</string>
	<key>STORAGE_BUCKET</key>
	<string>melo-c42ea.appspot.com</string>
</dict>
</plist>
